<h1>Artists</h1>
<% @artists.each do |artist| %>
  <h3>Name: <%= artist.name %></h3>
  <p>Member Count: <%= artist.member_count %></p>
  <p>Album Count: <%= artist.album_count %></p>
  <p>Actively Touring: <%= artist.actively_touring %></p>
  <p>Artist ID: <%= artist.artist_id %></p>
<% end %>
